// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)
=r1
	@media only screen and (max-width: 980px)
		@content

body
	font-family: Arial, sans-serif 
	font-size: 12px 
	line-height: 1.4

.out
	min-width: 320px 

// fonts

=ff
	font-family: 'Open Sans', sans-serif
	font-style: normal
=light
	+ff
	font-weight: 300
=litalic
	+ff
	font-weight: 300
	font-style: italic
=reg
	+ff
	font-weight: 400
=semi
	+ff
	font-weight: 600
=bold
	+ff
	font-weight: 700
=exbold
	+ff
	font-weight: 800
	

//reset
h1, h2, h3, h4, h5 ,h6
	font-weight: normal
a
	text-decoration: none
	
.title-h2
	+reg
	font-size: 26px
	line-height: 1
	color: #000
		
.title-h3
	+reg
	font-size: 20px
	line-height: 1
	color: #000
	text-align: left
.s-select
	position: relative
	cursor: pointer
	font-size: 11px
	color: #fff
	width: 91px
	text-align: left
	select
		opacity: 0
		position: absolute
		top: 0
		left: 0
		z-index: 1
.s-select__text
	position: relative
	display: block
	padding: 0 29px 0 15px
	height: 41px
	z-index: 2 
	line-height: 41px
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	background-color: #4f75a3
	text-transform: uppercase
	&:after
		content: ""
		position: absolute
		right: 15px
		top: 50%
		margin-top: -3px
		+arr(8, 6, #fff, b)
.s-select__list
	position: absolute
	display: none
	left: 0
	width: 152px
	top: 100%
	z-index: 200
	overflow-x: hidden
	overflow-y: auto
	background: rgba(80, 118, 164, 0.91)
	+box-shadow(0 4px 6px rgba(0, 1, 2, 0.75))
	+r1
		right: 0
		width: auto
	li
		border-top: 1px solid #365a7d 
		padding: 7px 24px
		cursor: pointer
		+light
		font-size: 12.55px
		text-align: left
		+r1
			text-align: center 
			padding: 7px 0 
		&:first-child
			border-top: none
		&:hover
			background: #365a7d
			color: #fff 
.select
	position: relative
	cursor: pointer
	color: #6587AF
	+light
	font-size: 14px
	select
		opacity: 0
		position: absolute
		top: 0
		left: 0
		z-index: 1
	&.is-active
		.select__text
			+border-radius(5px 5px 0 0)
.select__text
	position: relative
	display: block
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	background-color: #CBD6D3
	padding: 0 10px
	+box 
	+border-radius(5px)
	height: 39px
	line-height: 39px
	z-index: 2 
	&:after
		content: ""
		position: absolute
		right: 10px
		top: 50%
		margin-top: -3px
		+arr(13, 7, #2d4164, b)
.select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 100%
	z-index: 200
	overflow: hidden
	+box-shadow(0 4px 6px rgba(0, 1, 2, 0.75))
	+border-radius(0 0 5px 5px)
	background: #CBD6D3 
	li
		padding: 6px 10px
		cursor: pointer
		line-height: 1
		text-align: left
		&:first-child
			border-top: none
		&:hover
			background: #365a7d
			color: #fff 
//n-select
.n-select
	position: relative
	cursor: pointer
	color: #555
	+light
	font-size: 12px
	display: inline-block
	vertical-align: top
	text-align: left
	select
		opacity: 0
		position: absolute
		top: 0
		left: 0
		z-index: 1
	&.is-active
		.n-select__text
			+border-radius(3px 3px 0 0)
.n-select__text
	position: relative
	display: block
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	background-color: #fff
	padding: 0 32px 0 10px
	+box 
	+border-radius(3px)
	border: 1px solid #44709C
	height: 27px
	line-height: 25px
	z-index: 2 
	&:before, &:after
		content: "" 
		position: absolute
	&:before
		top: 0
		right: 0
		bottom: 0
		width: 23px
		background: #44709C 
	&:after
		right: 7px
		top: 50%
		margin-top: -2.5px
		+arr(9, 5, #fff, b)
.n-select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 100%
	z-index: 200
	overflow: hidden
	border: 1px solid #44709C
	border-top: none
	+border-radius(0 0 3px 3px)
	background: #fff 
	li
		padding: 6px 10px
		cursor: pointer
		line-height: 1
		text-align: left
		color: #000 
		&:first-child
			border-top: none
		&:hover
			background: #44709C
			color: #fff 
//n-select end	
//v-select
.v-select
	position: relative
	cursor: pointer
	color: #555
	+reg
	font-size: 11px
	display: inline-block
	vertical-align: top
	text-align: left
	select
		opacity: 0
		position: absolute
		top: 0
		left: 0
		z-index: 1
.v-select__text
	position: relative
	display: block
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	background-color: #fff
	padding: 0 24px 0 7px
	+box 
	border: 1px solid #577DAA
	height: 20px
	line-height: 18px
	z-index: 2 
	&:after
		content: "" 
		position: absolute
		right: 7px
		top: 50%
		margin-top: -2.5px
		+arr(6, 5, #577DAA, b)
.v-select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 100%
	z-index: 200
	overflow: hidden
	border: 1px solid #577DAA
	border-top: none
	background: #fff 
	li
		padding: 3px 10px
		cursor: pointer
		line-height: 1
		text-align: left
		color: #000 
		&:first-child
			border-top: none
		&:hover
			background: #577DAA
			color: #fff 
//v-select end			
.radio
	padding: 0 0 0 28px
	display: inline-block 
	vertical-align: top
	position: relative
	cursor: pointer
	input
		position: absolute
		top: 0
		left: 0
		visibility: hidden
		+opacity(0)
		&:checked + span
			&:after
				visibility: visible
				+opacity(1)
				top: 4px
	span
		+reg
		font-size: 12.54px
		color: #555 
		&:before, &:after
			content: "" 
			position: absolute
			+border-radius(50%)
		&:before
			top: 0
			left: 0
			width: 16px
			height: 16px
			background-color: #FFF
			+box-shadow(inset 0 3px 5px rgba(0, 2, 3, 0.46))
		&:after
			top: 0
			left: 4px
			width: 8px
			height: 8px
			background-color: #2D4164
			+opacity(0)
			visibility: hidden
			+transition(all 0.3s)
.checkbox
	padding: 0 0 0 25px
	display: inline-block 
	vertical-align: top
	position: relative
	cursor: pointer
	input
		position: absolute
		top: 0
		left: 0
		visibility: hidden
		+opacity(0)
		&:checked + span
			&:after
				visibility: visible
				+opacity(1)
	span
		+reg
		font-size: 12.54px
		color: #555 
		&:before, &:after
			content: "" 
			position: absolute
		&:before
			top: 0
			left: 0
			width: 16px
			height: 16px
			background-color: #FFF
			+border-radius(4px)
		&:after
			top: -2px
			left: 4px
			+s(checkbox)
			+opacity(0)
			visibility: hidden
			+transition(all 0.3s)
	&_mod
		span
			&:before
				background-color: #CBD6D3
input.input
	background-color: #CBD6D3
	width: 100%
	padding: 10px 
	color: #6587AF
	+light
	font-size: 14px
	+box 
	+border-radius(5px)
	&_white
		background: #fff
	&_black
		color: #555
		+placeholder-color(#555)
textarea.textarea
	background-color: #CBD6D3
	width: 100%
	padding: 11px 
	color: #6587AF
	+light
	font-size: 14px
	+box 
	border: none
	resize: none
	height: 225px
	&_white
		background: #fff 
	&_black
		color: #555
		+placeholder-color(#555)
.btn-repeat
	+s(btn-repeat)
	display: inline-block
	vertical-align: top
	
.btn
	+reg
	font-size: 13px
	color: #fff
	text-transform: uppercase
	+border-radius(5px) 
	background-color: #2D4164
	padding: 11px 15px
	position: relative
	+transition(opacity 0.3s)
	display: inline-block
	&:hover
		+opacity(0.9)
	&:active
		top: 1px
		+opacity(1)

.tooltip
	position: absolute
	bottom: 100%
	right: 100%
	margin: 0 -26px 10px 0
	width: 260px
	padding: 10px 12px 
	background: rgba(45, 94, 143, 0.89)	
	+opacity(0)
	visibility: hidden
	+transition(all 0.4s)
	&:after
		content: "" 
		position: absolute
		top: 100%
		right: 13px
		+arr(13, 10, rgba(45, 94, 143, 0.89), b)
	p
		+reg
		font-size: 14px
		color: #fff
.is-tooltip
	&:hover
		.tooltip
			+opacity(1)
			visibility: visible

.stars
	font-size: 0
	a
		+s(star) 
		display: inline-block
		vertical-align: top
		margin: 0 2px
		+r(700)
			margin: 0 0 0 1px 

.trade
	display: inline-block
	vertical-align: top
	+semi
	font-size: 12px
	padding: 5px 12px 5px 42px 
	+border-radius(3px)
	position: relative
	&:before
		content: "" 
		position: absolute
		top: 4px
		+transition(all 0.2s)
	&:active
		top: 1px
	&_sell
		color: #581c2c 
		border: 1px solid #581C2C
		&:hover, &:active
			&:before
				left: 15px
		&:before
			+s(sell)
			left: 10px
	&_buy
		color: #76A133
		border: 1px solid #76A133
		&:hover, &:active
			&:before
				left: 10px
		&:before
			+s(buy)
			left: 15px
		
.btn-answer
	+reg
	border: 1px solid #224271
	color: #224271 
	font-size: 12px
	text-transform: uppercase
	padding: 10px 20px
	background: none 
	text-align: center
	+transition(all 0.3s)
	position: relative
	+box
	&:hover, &:active
		background: #224271 
		color: #fff
	&:active
		top: 1px
	

//NEW
input.input-blue
	+border-radius(3px)
	width: 100%
	background-color: #FFF
	border: 1px solid #44709C
	color: #555
	font-size: 12px
	+light 
	padding: 4px 10px 
	
.btn-file
	display: inline-block
	vertical-align: top
	+s(btn-file)
	overflow: hidden
	cursor: pointer
	input
		+opacity(0)
		visibility: hidden
		
//datepick
.ui-datepicker
	+box-shadow(0 3px 6px rgba(20, 45, 96, 0.75))
	+border-radius(5px)
	background: rgba(61, 88, 136, 0.74) 
	padding: 15px 15px 13px
	+box 
	margin: 10px 0 
	position: absolute
	display: none
	z-index: 900 !important 
	&-calendar
		border: 2px solid #1e2b42
		background-color: #4E7FB1
		th
			background-color: #578EC6
			border: 1px solid #1e2b42
			width: 31px
			line-height: 31px
			+reg
			font-size: 12px
			color: #fff
			text-transform: uppercase 
		td
			border: 1px solid #1e2b42
			width: 31px
			line-height: 31px
			text-align: center 
			a
				width: 31px
				line-height: 31px
				text-align: center 
				+reg
				font-size: 12px
				color: #fff
				display: block
				&:hover, &.ui-state-active
					background: #fff
					color: #44709C 
			&.ui-datepicker-week-end 
				a
					color: #EB7D29
	&-header
		margin-bottom: 10px
		position: relative
	&-title
		text-align: center
		font-size: 0
	select
		background-color: #fff
		padding: 0 8px
		+box 
		// +border-radius(3px)
		border: 1px solid #44709C
		height: 27px
		line-height: 25px
		margin: 0 5px 
		&.ui-datepicker-month
			width: 87px
		&.ui-datepicker-year
			width: 75px
	&-prev, &-next
		font-size: 0
		position: absolute
		top: 50%
		width: 18px
		height: 18px
		margin-top: -9px
	&-prev
		background: url(../img/icons/s-prev.png) no-repeat center center
		-webkit-background-size: contain 
		-o-background-size: contain 
		background-size: contain  
		left: 0
	&-next
		background: url(../img/icons/s-next.png) no-repeat center center
		-webkit-background-size: contain 
		-o-background-size: contain 
		background-size: contain  
		right: 0
	
.btn-mail
	font-size: 12px
	color: #fff
	+semi
	text-transform: uppercase
	background-color: #2D4164
	line-height: 31px
	padding: 0 13px 0 42px
	display: inline-block
	position: relative 
	&:before
		position: absolute
		top: 50%
		left: 12px
		+s(mail)
		margin-top: -8px
		content: ""
	&:active
		top: 1px
		
.p-input
	+box-shadow(inset 0 2px 4px rgba(79, 102, 124, 0.75))
	background-color: #CBD6D3
	font-size: 17px
	color: #6587AF
	+light
	+placeholder-color(#6587AF)
	padding: 12px 17px 11px
	width: 100%
	+box 
	display: block
.p-textarea
	+box-shadow(inset 0 2px 4px rgba(79, 102, 124, 0.75))
	background-color: #CBD6D3
	font-size: 17px
	color: #6587AF
	+light
	+placeholder-color(#6587AF)
	padding: 12px 17px 11px
	width: 100%
	+box 
	height: 180px
	resize: none
	
	display: block
.p-btn
	color: #fff
	font-size: 16px
	+light
	text-transform: uppercase
	+border-radius(6px)
	background-color: #2D4164
	line-height: 46px
	padding: 0 15px
	display: inline-block
	vertical-align: top
	+box
	min-width: 160px
	position: relative
	&:active
		top: 1px
	&_mail
		padding-left: 55px
		&:before
			position: absolute
			top: 50%
			left: 16px
			+s(mail-big)
			margin-top: -10px
			content: ""


.btn-add
	+reg
	font-size: 13px
	color: #fff
	text-transform: uppercase
	+border-radius(5px)
	display: inline-block
	vertical-align: top
	padding: 10px 10px 10px 37px
	position: relative
	overflow: hidden
	+g(#5A88B7, #1E3C72) 
	&:active
		+g(#1E3C72, #5A88B7) 
	&:before 
		content: "" 
		position: absolute
		left: 0
		bottom: -3px
		+s(megaphone)
		