@import lib/base
@import reset
@import common

@import layouts

.header
	background: url(../img/header-in.jpg) no-repeat
	+cover
	position: relative
	padding: 45px 28px 62px
	&:before
		content: "" 
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: rgba(28, 46, 60, 0.34) 
	&__inner
		position: relative
		max-width: 1520px
		margin: 0 auto 
		padding: 0 0 14px 
		z-index: 500 
	&__menu
		+clr
		font-size: 0
	&__left
		float: left
	&__nav
		+r(1200)
			position: absolute
			top: 100%
			right: 0
			margin-top: -9px
			max-width: 328px
			+box-shadow(0 4px 10px rgba(0, 1, 2, 0.75))
			background: rgba(28, 63, 139, 0.89) 
			+border-radius(8px)
			width: 100%
			padding: 5px 0
			+opacity(0)
			visibility: hidden
			+transition(visibility 0.3s, opacity 0.3s)
		&:before
			display: none
			content: "" 
			position: absolute
			top: -12px
			right: 50px
			+arr(24, 12, rgb(28, 63, 139), t) 
			+opacity(0.89)
			+r(1200)
				display: block
		&.is-active
			+r(1200)
				+opacity(1)
				visibility: visible
.slider
	padding: 0 50px 
	margin: 0 -28px
	&__inner
		max-width: 1395px
		margin: 0 auto
		+r(1400)
			padding: 0 70px 
	&__item
		width: 100%
		+cover
		background-repeat: no-repeat
		background-position: center top 
		height: 510px
	&__info
		max-width: 530px
		text-align: right
		color: #fff
		padding: 58px 0 0 
		span
			display: block
			+light
			font-size: 20px
			padding: 3px 0 
	&__title
		+reg
		text-transform: uppercase
		font-size: 48px
		line-height: 1.25
		margin-bottom: 5px
		small
			font-size: 40px
			+light
			display: block
	&__pager
		height: 31px
		position: absolute
		bottom: 0
		left: 0
		right: 0
		z-index: 300
		font-size: 0
		text-align: center
		span
			width: 17px
			height: 17px
			background-color: #FFF
			border: 1px solid #243B72
			+border-radius(50%)
			position: relative
			display: inline-block
			vertical-align: top
			margin: 0 12px 
			cursor: pointer
			&:before
				content: ""
				position: absolute
				top: 2px
				left: 2px
				bottom: 2px
				right: 2px
				+border-radius(50%)
				background-color: #243B72
				display: none
			&.cycle-pager-active
				&:before
					display: block
	&__btns
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		&-in
			position: relative
			max-width: 1495px
			margin: 0 auto
			height: 510px 
	&__prev, &__next
		position: absolute
		top: 50%
		margin-top: -25px
		z-index: 295 
		+r(1400)
			margin: -25px 10px 
		&:active
			margin-top: -24px
	&__prev
		left: 0
		+svg(slider-prev, 50, 51)
	&__next
		right: 0
		+svg(slider-next, 50, 51)
.search
	max-width: 923px
	margin: 0 auto
	text-align: center
	padding: 46px 0 0 
	position: relative
	&__input
		border: 3px solid #fff
		border-right: none
		background: none
		+light
		color: #fff
		font-size: 24px
		padding: 10px 22px
		width: 100%
		+box 
		margin-bottom: 22px
		+placeholder-color(rgba(255, 255, 255, 0.49)) 
	&__btn
		+light
		font-size: 24px
		color: #fff
		text-transform: uppercase
		padding: 9px 83px
		background: none
		border-left: 3px solid #fff  
		border-right: 3px solid #fff  
		&:active			
			span
				top: 1px
		span
			position: relative 
	.s-select
		float: right
	label
		display: block
		overflow: hidden
.logo
	max-width: 200px
	display: inline-block
	vertical-align: top
	margin: 16px 52px 0 0
	+r(1400)
		margin: 16px 20px 0 0 
	img
		width: 100%
.lang
	display: inline-block
	vertical-align: top
	position: relative
	padding: 0 14px 0 0
	margin: 12px 25px 0 0
	+r(1400)
		margin: 12px 15px 0 0 
	&:after
		content: "" 
		position: absolute
		top: 18px
		right: 0
		+arr(9, 7, #fff, b)
	&:hover
		.lang__drop
			display: block
	a
		+light
		font-size: 18px
		line-height: 24px
		color: #fff  
		display: block
		background: #326292 
		text-transform: uppercase	
		padding: 12px 0 11px
		width: 41px
		text-align: center 
	&__drop
		position: absolute
		top: 100%
		left: 0
		display: none
.nav
	display: inline-block
	vertical-align: top
	padding: 0 3px  
	+r(1200)
		padding: 0
		display: block
	li
		display: inline-block
		vertical-align: top		
		margin: 0 1px 
		+r(1400)
			margin: 0
		+r(1200)
			display: block
	a
		+light
		font-size: 21px
		color: #fff 
		padding: 20px 27px
		display: block
		+transition(background 0.2s)
		+r(1400)
			padding: 20px 20px 
		+r(1200)
			padding: 18px 30px 17px 
		&:hover, &.is-active
			background: rgba(50, 98, 146, 0.5) 
			+r(1200)
				background-color: #122759

.enter
	float: right
	padding: 20px 30px 18px
	background: rgba(50, 98, 146, 0.5) 
	+r(1200)
		float: none
		padding: 18px 30px 17px
		background: none
		&:hover
			background-color: #122759
	p, a
		+light
		font-size: 21px
		color: #fff 
	a
		&:hover
			text-decoration: underline

.nav-btn
	+box-shadow(0 2px 2px rgba(12, 25, 53, 0.75))
	width: 54px
	height: 54px
	background-color: #1C3F8B
	padding: 17px 12px 
	position: relative
	float: right
	margin: 3px 34px 0 0
	display: none
	+r(1200)
		display: block
	&:active
		top: 1px
	span
		+border-radius(2px)
		width: 30px
		height: 3px
		background: #fff 
		display: block
		position: relative
		&:before, &:after
			position: absolute
			height: 3px
			background: #fff
			content: "" 
			+border-radius(2px)
			left: 0
			right: 0
		&:before
			top: -7px
		&:after
			bottom: -7px
			
.footer
	background: #282828
	padding: 35px 28px 
	text-align: center
	.btn-up
		float: left
		margin: 0 14px 0 0 
	&__top
		max-width: 1544px
		margin: 0 auto 22px
		+clr
	&__nav
		font-size: 0
		padding: 4px 90px 0 
		+r(900)
			padding: 4px 0 
		li
			display: inline-block
			vertical-align: top
			&:after
				display: inline-block
				vertical-align: top
				+s(f-dec)
				+opacity(0.2)
				content: "" 
				margin: 2px 17px 2px 18px 
				+r(1200)
					margin: 2px 8px 2px 8px 
			&:last-child
				&:after
					display: none
			a
				+reg
				font-size: 22px
				color: #fff
				text-transform: uppercase 
				&:hover
					text-decoration: underline
	&__bottom
		border-top: 2px solid #555555
		margin: 0 -28px  
		+clr
	&__social
		float: left
		width: 100%
		margin: -24px 0 38px
		text-align: center
		font-size: 0
		ul, li
			display: inline-block
			padding: 0 7px 
		ul
			background: #282828 
		li
			vertical-align: top
			a
				display: block
				+opacity(0.35)
				+transition(all 0.3s)
				&:hover
					+opacity(0.5)
				&.is-tw
					+s(f-tw)
				&.is-fb
					+s(f-fb)
				&.is-gp
					+s(f-gp)
				&.is-b
					+s(f-b)
	&__logo
		display: inline-block
		+opacity(0.35)
		+transition(all 0.3s)
		margin-bottom: 20px
		&:hover
			+opacity(0.5)
	p
		+reg
		font-size: 18px
		color: #fff
		+opacity(0.35) 
.btn-up
	+opacity(0.73)
	width: 76px
	height: 76px
	background-color: #30587E
	+border-radius(50%)
	&:active
		span
			top: 1px
	span
		content: "" 
		margin-top: 28px
		display: block
		margin: 0 auto
		+arr(20, 17, #282828, t)
		position: relative
		

.main
	background: #fff 
	padding: 0 32px 
	&__inner
		+clr
		max-width: 1524px
		margin: 0 auto
		padding: 60px 0 30px
		+r(1200)
			max-width: 520px
.heading
	+reg
	font-size: 28px
	color: #fff
	text-transform: uppercase
	margin: 0 58px 44px 0
	height: 63px
	position: relative
	background: #577daa 
	line-height: 63px
	padding: 0 30px   
	&:after
		content: "" 
		position: absolute
		top: 0
		left: 100%
		+arr(58, 63, #577daa, tl)
.content
	float: left
	width: 64%		
	padding: 8px 0 4px
	+r(1400)
		width: 68%
	+r(1200)
		width: 100%
		padding: 0
		float: none
		margin-bottom: 20px 
	&__box
		+box-shadow(0 3px 6px rgba(20, 45, 96, 0.75))
		padding: 24px 49px 37px

.form
	&__title
		+reg
		font-size: 18px
		color: #581c2c 
	&__row
		margin: 0 -49px
		font-size: 0
		+r(1400)
			margin: 0 -23px 
	&__box
		width: 50%
		padding: 20px 49px 0
		display: inline-block
		vertical-align: top
		+r(1400)
			padding: 20px 23px 0 
		+r(1200)
			width: 366px
		label
			position: relative
			display: block
	&__label
		color: #555
		+light
		font-size: 18px 
		display: block
		margin-bottom: 8px
	&__status
		+light
		font-size: 15px
		color: #555 
		position: absolute
		bottom: 100%
		right: 0
		width: 110px
		padding: 0 0 0 30px
		line-height: 1.2
		margin-bottom: 8px
		&.is-bad
			&:before
				background: #be2828 
		&.is-good
			&:before
				background: #a4df6a 
		&:before
			content: "" 
			position: absolute
			bottom: 3px
			left: 0
			width: 23px
			height: 10px
	&__selects
		font-size: 0
	&__select
		display: inline-block
		vertical-align: top
		margin-right: 14px
		width: 100%
		&.is-big
			max-width: 186px
		&.is-small
			max-width: 94px
	&__code
		font-size: 0
		padding: 20px 0 25px
		.btn-repeat
			vertical-align: middle
			margin-right: 15px
		.input
			max-width: 124px
			display: inline-block
			vertical-align: middle
	&__img
		width: 130px
		display: inline-block
		vertical-align: middle
		margin-right: 15px
		img
			max-width: 100%
	p
		+light
		font-size: 18px
		color: #555
		max-width: 685px
		margin-bottom: 26px
		a
			+reg
			color: #2D4164
			text-decoration: underline
			&:hover
				text-decoration: none
	&__password
		position: relative
		width: 100%
		max-width: 370px
		margin: 0 0 20px 
		.form__status
			position: absolute
			left: 100%
			right: auto
			bottom: 10px
			margin: 0 0 0 24px  
	&__btn
		padding: 14px 0 0 
.field
	&_radio		
		padding: 27px 0 20px
		+r(1200)
			text-align: center
		&_mod
			+r(1200)
				text-align: left
		.form__label
			width: 70px
			display: inline-block
			vertical-align: top
			+reg
			margin: 0 
			text-align: left
			&.dl-mb
				+r(1200)
					display: none
	&__radio
		max-width: 220px
		width: 100%
		display: inline-block
		vertical-align: top
		+r(1200)
			width: auto
			padding: 0 25px 

.sidebar
	width: 36%
	float: left
	+r(1400)
		width: 32%
	+r(1200)
		width: 100%
		float: none
	&__inner
		padding: 0 0 0 15px
		+clr
		+r(1200)
			padding: 0
.banner
	width: 100%
	display: block
	font-size: 0
	+box-shadow(0 3px 6px rgba(20, 45, 96, 0.75))
	margin-bottom: 14px
	img
		width: 100%
		

.interesting
	&__inner
		overflow: hidden
		border-bottom: 10px solid #224271
		+border-radius(11px)
		+box-shadow(0 3px 6px rgba(20, 45, 96, 0.75))
		+clr
	&__heading
		+reg
		font-size: 28px
		color: #fff 
		background-color: #44709C
		padding: 10px 35px 
		+r(1400)
			font-size: 20px
			padding: 15px 20px 
	&__item
		padding: 20px 0px 20px
		float: left 
		+transition(all 0.2s)
		width: 100%
		&:last-child
			&.is-active
				border-bottom: none
		&.is-active
			background: #d6ecfe 
			border-bottom: 4px solid #224271
			.interesting__title
				text-decoration: underline
	&__title
		color: #383737
		+reg
		font-size: 28px
		margin: 0 35px 
		display: inline-block
		letter-spacing: 0.02em 
		+r(1400)
			font-size: 24px
			margin: 0 20px 
		&:hover
			text-decoration: underline
	&__info
		padding: 5px 35px 0 
		display: none
		+r(1400)
			padding: 10px 20px 0 
		p
			font-size: 18px
			letter-spacing: 0.02em 
			color: #555555
			line-height: 1.5 
			+r(1400)
				font-size: 16px